<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Nombre De Empresa Que Quiere el review</h3>
								<h3 class="card-subtitle"><a hr>De Yelp De La Empressa</a>  <b>0.00057 BTC</b>  
										<button class="btn btn-sm btn-outline-secondary" (click)="acc.toggle('toggle-1')">Begin Review</button>
 
								 </h3>
								
            
  					
            </div>
				</div>
				<div class="card">
            <div class="card-body">
                <h3 class="card-title">Nombre De Empresa Que Quiere el review</h3>
								<h3 class="card-subtitle"><a hr>De Yelp De La Empressa</a>  <b>0.00057 BTC</b>  
										<button class="btn btn-sm btn-outline-primary" (click)="acc.toggle('toggle-1')">Begin Review</button>
 
								 </h3>
								
            
  					
            </div>
        </div>
                      
    </div>
</div>