<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <h3 class="card-title"><img src="{{photo}}"  style="width: 30px; height: 30px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px;" />{{name}}</h3>
                                <h3 class="card-subtitle"><a hr>Do you want to buy a package?</a> <br>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <b> Link's 50 </b>   
                                    <button class="btn btn-sm btn-outline-primary" (click)="buy()">0.00057 BTC</button>
 
								 </h3>
								
            
  					
            </div>
				</div>
				<div class="card">
            <div class="card-body">
                <h3 class="card-title">Nombre De Empresa Que Quiere el review</h3>
								<h3 class="card-subtitle"><a hr>De Yelp De La Empressa</a>  <b>0.00057 BTC</b>  
										<button class="btn btn-sm btn-outline-primary" (click)="buy()">Begin Review</button>
 
								 </h3>
								
            
                                 
                                    
                                  
            </div>
        </div>
                      
    </div>
</div>