<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
 <form class="form-horizontal form-material" id="loginform">
                <h3 class="box-title m-b-20">Sign In</h3>
                <div *ngIf="!user" class="card text-center">
                        <h6 class="card-header">
                          Social Login Demo
                        </h6>
                        <div class="card-block">
                          <h4 class="card-title">Not signed in</h4>
                          <p class="card-text">Sign in with</p>
                        </div>
                        <div class="card-block">

                          <button   class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google fa-3x"></span></button>
                          <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook fa-3x"></span></button>
                        </div>
                      </div>

              <!-- <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" #Username ng-model="Username" type="text" id="Username" placeholder="Username" required/> </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" #password ng-model="password" type="password" id="password" placeholder="Password" required/> </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-info pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup"> Remember me </label>
                        </div> <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                        <a class="btn btn-block btn-lg btn-info btn-rounded" [routerLink]="['/starter']" (click)="onLoggedin(Username.value,password.value)">Log In</a>
                    </div>
                </div> -->


            </form>


        </div>
    </div>

</div>
