<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        {{subtitle}}

        <div class="table-responsive">
          
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>type</th>
                        <th>category</th>
                        <th>Progress</th>
                        <th>Deadline</th>
                        <th class="text-nowrap">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Facebook </td>
                        <td><a>Likns (100)</a>  </td>
                        <td>
                            <div class="progress progress-xs margin-vertical-10 ">
                                <div class="progress-bar bg-danger" style="width: 35%; height:6px;"></div>
                            </div>
                        </td>
                        <td>Oct 16, 2017</td>
                        <td class="text-nowrap">
                            active
                        </td>
                    </tr>
                    <tr>
                        <td>Facebook </td>
                        <td><a>Likns (100)</a>  </td>
                        <td>
                            <div class="progress progress-xs margin-vertical-10 ">
                                <div class="progress-bar bg-danger" style="width: 35%; height:6px;"></div>
                            </div>
                        </td>
                        <td>Oct 16, 2017</td>
                        <td class="text-nowrap">
                            active
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Facebook </td>
                        <td><a>Likns (100)</a>  </td>
                        <td>
                            <div class="progress progress-xs margin-vertical-10 ">
                                <div class="progress-bar bg-danger" style="width: 35%; height:6px;"></div>
                            </div>
                        </td>
                        <td>Oct 16, 2017</td>
                        <td class="text-nowrap">
                            active
                        </td>
                    </tr>
                    
                    
                    
                </tbody>
            </table>
        </div>
     
       
      </div>
    </div>
  </div>
</div>
