<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
          <ul aria-expanded="false" class="collapse">
            <!--<li><a href="javascript:void()">My Profile </a></li>-->
            <li><a routerLink="/starter" [routerLinkActive]="['router-link-active']" href="javascript:void()">My Balance</a></li>
            <!--<li><a href="javascript:void()">Inbox</a></li>-->
            <li><a href="javascript:void()">Account Settings</a></li>
            <li><a href="javascript:void()">Logout</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <!--<li class="nav-small-cap">Jobs</li>-->
        <!--<li>-->
          <!--<a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-commenting-o"></i><span class="hide-menu">Reviews</span></a>-->
          <!--<ul aria-expanded="false" class="collapse">-->
            <!--<li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Reviews</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <li class="nav-small-cap">Services</li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-facebook"></i><span class="hide-menu">Facebook</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Likes</a></li>
            <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Posts</a></li>
            <li><a routerLink="/carousel" [routerLinkActive]="['router-link-active']">Shares</a></li>
            <li><a routerLink="/starter" [routerLinkActive]="['router-link-active']">Comments</a></li>
            <!--<li><a routerLink="/starter" [routerLinkActive]="['router-link-active']">Reviews</a></li>-->
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-instagram"></i><span class="hide-menu">Instagram</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Follows</a></li>
            <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Photo Likes</a></li>
            <li><a routerLink="/carousel" [routerLinkActive]="['router-link-active']">Posts</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-youtube"></i><span class="hide-menu">YouTube</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Video Views</a></li>
            <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Subscribes</a></li>
            <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Video Likes</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-twitter"></i><span class="hide-menu">Twitter</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Follows</a></li>
            <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Tweets</a></li>
          </ul>
        </li>

        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-yelp"></i><span class="hide-menu">Yelp</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Reviews</a></li>
          </ul>
        </li>

        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-google-plus"></i><span class="hide-menu"> Google Business</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Reviews</a></li>
          </ul>
        </li>

        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-bullseye"></i><span class="hide-menu">Custom</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Web Page Visits</a></li>
            <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Newsletter Subscribers</a></li>
          </ul>
        </li>

        <!--<li class="nav-small-cap">PERSONAL</li>
        <li>
          <a routerLink="/starter" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-gauge"></i><span class="hide-menu">Starter Page</span></a>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Component</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Accordion</a></li>
            <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Alert</a></li>
            <li><a routerLink="/carousel" [routerLinkActive]="['router-link-active']">Carousel</a></li>
            <li><a routerLink="/datepicker" [routerLinkActive]="['router-link-active']">Datepicker</a></li>
            <li><a routerLink="/dropdown" [routerLinkActive]="['router-link-active']">Dropdown - Collapse</a></li>
            <li><a routerLink="/modal" [routerLinkActive]="['router-link-active']">Modal</a></li>
            <li><a routerLink="/pagination" [routerLinkActive]="['router-link-active']">Pagination</a></li>
            <li><a routerLink="/poptool" [routerLinkActive]="['router-link-active']">Popover & Tooltip</a></li>
            <li><a routerLink="/progressbar" [routerLinkActive]="['router-link-active']">Progressbar</a></li>
            <li><a routerLink="/rating" [routerLinkActive]="['router-link-active']">Ratings</a></li>
            <li><a routerLink="/tabs" [routerLinkActive]="['router-link-active']">Tabs</a></li>
            <li><a routerLink="/timepicker" [routerLinkActive]="['router-link-active']">Timepicker</a></li>
            <li><a routerLink="/typehead" [routerLinkActive]="['router-link-active']">Typehead</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/basicform" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-file"></i><span class="hide-menu">Forms</span></a>
        </li>
        <li>
          <a routerLink="/wizard" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-file"></i><span class="hide-menu">Form Wizard</span></a>
        </li>
        <li>
          <a routerLink="/basictable" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-table"></i><span class="hide-menu">Tables</span></a>
        </li>
        <li>
          <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-brush"></i><span class="hide-menu">Icons</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/fontawesome" [routerLinkActive]="['router-link-active']">Fontawesome</a></li>
            <li><a routerLink="/simpleline" [routerLinkActive]="['router-link-active']">Simple Line Icons</a></li>
            <li><a routerLink="/material" [routerLinkActive]="['router-link-active']">Material Icons</a></li>
          </ul>
        </li>-->
        <!--<li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Multi level dd</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#">item 1.1</a></li>
            <li><a href="#">item 1.2</a></li>
            <li> <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="#">item 1.3.1</a></li>
                <li><a href="#">item 1.3.2</a></li>
                <li><a href="#">item 1.3.3</a></li>
                <li><a href="#">item 1.3.4</a></li>
              </ul>
            </li>

            <li><a href="#">item 1.4</a></li>
          </ul>
        </li>-->
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
