<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Simple Typeahead</h3>
                <h6 class="card-subtitle">A typeahead example that gets values from a static string</h6>
                <label for="typeahead-basic">Search for a USA state:</label>
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model"  />
                <button (click)="ver()">ver imagen</button>
                <div class="m-t-10" *ngIf="model">   
                    {{model}}
                    	<iframe src="enlace" width="266" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
  			</div>
        </div>
    </div>
    
</div>