<div class="row">
         
                           
  
                                    <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h3 class="card-title">
                                                            <i class="fa fa fa-globe fa-2x" aria-hidden="true"></i>Buy Posts</h3>
                                                            <h6 class="card-subtitle">This is a link pack for publication</h6>
                                                    
                                                </div>
                                            </div>
                                         </div>    
               
         <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                                <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>Buy Likes</h3>
                                <h6 class="card-subtitle">This is a link pack for publication</h6>      
                                          
      
                        
                    </div>
                </div>
             </div>
             <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                    <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>Buy comments</h3>
                                    <h6 class="card-subtitle">This is a link pack for publication</h6>  
                        </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">
                                        <i class="fa fa-share-alt-square fa-2x" aria-hidden="true"></i>Buy Shares</h3>
                                        <h6 class="card-subtitle">This is a link pack for publication</h6>
                                      
                            </div>
                        </div>
                     </div>
         
              
 
</div>
        